<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljxy.score.mapper.StudentMapper">
    <resultMap id="stuentMap" type="com.ljxy.score.entity.Student">
        <id column="id" property="id"></id>
        <result column="stu_id" property="stuId"></result>
        <result column="stu_name" property="stuName"></result>
        <result column="sex" property="sex"></result>
        <result column="age" property="age"></result>
        <result column="phone" property="phone"></result>
        <result column="grade_id" property="gradeId"></result>
        <result column="clazz_id" property="clazzId"></result>
        <association property="gradeList" javaType="arraylist" resultMap="gradeMap">
        </association>
        <association property="clazzList" javaType="arraylist" resultMap="clazzMap">
        </association>
    </resultMap>
    <resultMap id="gradeMap" type="com.ljxy.score.entity.Grade">
        <id column="g_id" property="id"></id>
        <result column="g_name" property="name"></result>
    </resultMap>
    <resultMap id="clazzMap" type="com.ljxy.score.entity.Clazz">
        <id column="c_id" property="id"></id>
        <result column="c_name" property="name"></result>
    </resultMap>
    <select id="findPage" resultMap="stuentMap">
        select `student`.* ,
        grade.id g_id ,grade.name g_name,
        clazz.id c_id,clazz.name c_name from `student`
        left join grade on student.grade_id = grade.id
        left join clazz on student.clazz_id =clazz.id
        where `student`.stu_name like concat('%',#{name},'%')
    </select>

    <select id="getPage" resultMap="stuentMap">
        select `student`.* ,
        grade.id g_id ,grade.name g_name,
        clazz.id c_id,clazz.name c_name from `student`
        left join grade on student.grade_id = grade.id
        left join clazz on student.clazz_id =clazz.id
        <where>
            <if test="stuName != null and stuName != ''">
                and stu_Name like concat('%', #{stuName}, '%')
            </if>
            <if test="gradeId != null">
                and student.grade_id = #{gradeId}
            </if>
            <if test="clazzId != null">
                and student.clazz_id = #{clazzId}
            </if>
            <if test="stuId !=null and stuId !=''">
                and student.stu_id = #{stuId}
            </if>
        </where>
        order by stu_id
    </select>
</mapper>